<div id="ft">
    <div class="footer_copyright">
        <div class="footer_copyright-con">
            <ul class="footer_copyright-con-ul">
                <li><a rel="nofollow" href="//www.koolearn.com/about/" target="_blank">关于我们</a></li>
                <li><a rel="nofollow" href="//www.koolearn.com/about/shangwu/" target="_blank">商务合作</a></li>
                <li class="k12hezuo"><a rel="nofollow" href="//k12zs.koolearn.com/" target="_blank">招商合作</a></li>
                <li><a rel="nofollow" href="//www.koolearn.com/about/guanggao/" target="_blank">广告服务</a></li>
                <li><a rel="nofollow" href="//sc.koolearn.com/" target="_blank">线下体验店</a></li>
                <li><a rel="nofollow" href="//help.koolearn.com/" target="_blank">客服中心</a></li>
                <li><a rel="nofollow" href="//help.koolearn.com/#lxkf" target="_blank">在线留言</a></li>
                <li><a rel="nofollow" href="//www.koolearn.com/about/hezuo/" target="_blank">合作伙伴</a></li>
                <li><a rel="nofollow" href="//www.koolearn.com/about/lianxi/" target="_blank">联系我们</a></li>
                <li><a rel="nofollow" href="http://zhaopin.koolearn.com/" target="_blank">人员招聘</a></li>
                <li><a href="//www.koolearn.com/sitemap/" target="_blank">网站地图</a></li>
                <li><a href="//www.koolearn.com/zt/" target="_blank">热点关注</a></li>
                <li><a href="//union.koolearn.com/">网盟合作</a></li>
                <li><a href="//news.koolearn.com/yinyue/">音乐</a></li>
            </ul>
            <p><a target="_blank" rel="nofollow" href="http://www.neworiental.org/">新东方教育科技集团</a>旗下成员公司</p>
            <p>Copyright © 2000-2019 <a target="_blank" href="//www.koolearn.com/">koolearn.com</a> Inc. All rights reserved. 新东方在线 版权所有</p>
            <p><a target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/">京ICP证050421号 </a><a target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/">京ICP备05067669号</a> 京公网安备11010802017616号 <a target="_blank" href="//news.koolearn.com/20140623/1017723.html">网络视听许可证0110531号</a> <a target="_blank" href="//news.koolearn.com/20151014/1065752.html">京网文(2016)1303-163号</a></p>
            <div class="footer_copyright-logo">
                <a target="_blank" style="margin-right:0;padding:0" class="footer_copyright__img footer_copyright__credit" rel="nofollow" href="http://www.itrust.org.cn/Home/Index/satification_certificate/wm/MY2018090401.html"><img alt="学生满意度" src="//images.koolearn.com/fe_upload/2018/9/2018-9-7-1536317049864.png"></a>
                <a target="_blank" class="footer_copyright__img footer_copyright__credit" rel="nofollow" href="http://www.itrust.org.cn/Home/Index/itrust_certifi/wm/177256341X.html"><img alt="网信认证" src="//images.koolearn.com/fe_upload/2018/9/2018-9-7-1536317051892.png"></a>                <a target="_blank" class="footer_copyright__img" rel="nofollow" href="//www.xdf.cn/"><img alt="新东方官网" src="//images.koolearn.com/shark/project/zt/2017/0918koolearn-home-gf/i/content/logo_xdf.png?d590fd"></a>
                <span class="footer_copyright-logo__line"></span>
                <a target="_blank" class="footer_copyright__img" href="//www.koolearn.com/"><img alt="新东方在线" src="https://images.koolearn.com/shark/project/logo/cms-footer.png"></a>
            </div>
        </div>
    </div>
</div>
