.main{
  min-width: 1000px;
  margin: 0 auto;
}

.common-title {
  font-size:36px;
  font-weight:400;
  color:rgba(25,35,60,1);
  line-height:48px;
  text-align: center;
}
.common-subtitle {
  font-size:16px;
  font-weight:300;
  color:rgba(139,147,166,1);
  margin-top: 22px;
  text-align: center;
}
.contact-btn {
  width:270px;
  height:62px;
  background:rgba(76,132,255,1);
  box-shadow:0px 6px 40px 0px rgba(59,109,178,0.4);
  border-radius:2px;
  font-size:20px;
  line-height: 62px;
  font-weight:400;
  color:rgba(254,254,254,1);
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  cursor: pointer;
}
.clearfix:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  /* 触发 hasLayout */
  zoom: 1;
}
.common {
  &-tabs {
    width: 500px;
    margin: 55px auto 0;
  }
  &-tab {
    width: 160px;
    font-size:16px;
    line-height: 32px;
    font-weight:400;
    color: #19233C;
    padding: 7px 0;
    text-align: center;
    float: left;
    cursor: pointer;
  }
  &-tab-active {
    border-bottom: 2px solid #4C84FF;
    color: #4C84FF;
    font-size:18px;
  }
  &-line {
    width: 1000px;
    margin: -1px auto 0;
    height: 1px;
    background: #E4E6EB;
    transform: scaleY(0.5);
  }
}

.timetable-bg {
  min-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 310px;
  padding-bottom: 60px;
  background: url("http://images.koolearn.com/fe_upload/2019/10/2019-10-18-1571372154235.png") no-repeat center top;
  background-size: 2000px 1643px;
}
.part-tit{
  margin: 0 auto;
  width: 1000px;
  height: 142px;
  background: url("http://images.koolearn.com/fe_upload/2019/10/2019-10-18-1571378110657.png") no-repeat 131px top;
  background-size: 190px 142px;
  h2{
      padding-left: 340px;
      padding-top: 50px;
      height:41px;
      font-size:40px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(31,67,128,1);
      line-height:24px;
  }
  p{
      padding-top: 5px;
      padding-left: 340px;
      height:18px;
      font-size:18px;
      font-family:PingFang SC;
      font-weight:400;
      color:rgba(114,127,150,1);
      line-height:24px;
  }
}
.part-info{
  width: 400px;
  margin:0 auto;
  padding-top: 50px;
  cursor: pointer;
  &>p{
    &>input{
      display: block;
      width: 398px;
      border:1px solid rgba(181,193,210,1);
      border-radius:28px;
      height: 55px;
      //line-height: 25px;
      text-indent: 30px;
      font-size:18px;
      font-family:PingFang SC;
      font-weight:400;
      //color:rgba(194,199,209,1);
      outline:none;
    }
    &>button{
      outline:none;
      display: block;
      width: 398px;
      background:linear-gradient(90deg,rgba(243,108,18,1),rgba(255,45,29,1));
      box-shadow:0px 6px 13px 0px rgba(255,72,36,0.44);
      border-radius:28px;
      height: 55px;
      line-height: 55px;
      font-size:24px;
      font-family:PingFang SC;
      font-weight:500;
      color:rgba(255,255,255,1);
      margin-top: 30px;
      border: none;
    }
  }
}
#uuidimg {
  width: 0;
  height: 0;
}
.toast{
  width: 300px;
  border-radius: 8px;
  line-height: 80px;
  background:rgba(20,50,89,0.7);
  position: fixed;
  text-align: center;
  left: 50%;
  top: 50%;
  font-size: 34px;
  margin-left: -150px;
  color: #fff;
  display: none;
}

