<!DOCTYPE html>
<html lang="en">

<head>
    <!-- 公共部分开始 -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit" />
    <script src="//static.koocdn.com/framework/js/global.js"></script>
    <!-- 公共部分结束 -->
    <title>新东方在线考研公开课</title>
    <meta name="keywords" content="英语、政治、数学公开课，全明星师资、经典课程体系、全套备考资料，助力2021考研！">
    <meta name="description" content="英语、政治、数学公开课，全明星师资、经典课程体系、全套备考资料，助力2021考研！">
    <link href="//images.koolearn.com/shark/project/zt/2019/0909kytimetable21/css/kytimetable.css" rel="stylesheet">
    <!-- 课表样式 -->
    <script src="//static.koocdn.com/project/header/1.x/common/common-mix/common-mix.bundle.js"></script>
    <!-- 快捷支付依赖模块 -->
    <script src="//images.koolearn.com/shark/project/teach/1.x/common/quick-pay/quick-pay-single.bundle.js"></script>
    <!-- 快捷支付 -->
    <style>
        .i-navigation-wrap {
            width: auto !important;
        }
    </style>
</head>

<body>
    <script type="text/javascript"
        src="//images.koolearn.com/shark/project/zt/2019/0909kytimetable21/js/kytimetable.js"></script><!-- 课表逻辑 -->
    <div class="main">
        <script type="text/javascript">
            var g_header_config = {
                seasonId: '2021',
                showNav: true,
                curNav: '公开课',
                nav21: [{
                    name: '首页',
                    url: '//www.koolearn.com/ke/kaoyan/'
                }, {
                    name: '全程班',
                    url: '//kaoyan.koolearn.com/zhuanti/ke_21qcb_pc/'
                }, {
                    name: '直通车',
                    url: 'https://kaoyan.koolearn.com/zhuanti/ke_21ztc_pc/'
                }, {
                    name: '专业课',
                    url: 'https://kaoyan.koolearn.com/zhuanti/ke_21zyk_pc/'
                }, {
                    name: '管综',
                    url: '//kaoyan.koolearn.com/zhuanti/ke_21gz_pc/'
                }, {
                    name: '公开课',
                    url: 'https://kaoyan.koolearn.com/zhuanti/ke_21gkk_pc/'
                }]
            }

        </script>
        <script
            src="//images.koolearn.com/shark/project/zt/2019/0808gn-ky-topbar/components/topbar/js/topbar.bundle.js"></script>

        <!-- 核心师资集结 多年经验带你通关  start -->
        <% if (htmlWebpackPlugin.options.env == 'production'){ %>
        {pc:block pos="<%= htmlWebpackPlugin.options.chipPath %>/chip/part1.html" siteid="50"}{/pc}
        <%}else{ %>
        <%= require('./chip/part1.ejs')({htmlWebpackPlugin:htmlWebpackPlugin}) %>
        <% } %>
        <!-- 核心师资集结 多年经验带你通关  end -->

        <!-- 底部  start -->
        <% if (htmlWebpackPlugin.options.env == 'production'){ %>
        {pc:block pos="<%= htmlWebpackPlugin.options.chipPath %>/chip/footer.html" siteid="50"}{/pc}
        <%}else{ %>
        <%= require('./chip/footer.ejs')({htmlWebpackPlugin:htmlWebpackPlugin}) %>
        <% } %>
        <!-- 底部 end -->
    </div>

</body>
<script src="//img.koolearn.com/v2/img/public_video/js/addload.js"></script>
<!-- 咨询 start-->
<script id="jg-plus-helping-2" data-type="guonei" data-hide-dialog="true" data-query=".zixun,.contact-btn"
    src="//static.koocdn.com/project/teach/1.x/common/plus-helping/2.x/plus-helping-single.bundle.js"></script>
<!-- 咨询 end  -->
<script type="text/javascript" async src="//static.koocdn.com/project/xdf-analysis-log/1.x/js/page.bundle.js"></script>
<!-- 统计代码 -->

<!-- 统计 start -->
<script type="text/javascript" src="//images.koolearn.com/www/subject/script/tongji.js" charset="utf-8"></script>
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NZ64K7" height="0" width="0"
        style="display:none;visibility:hidden"></iframe>
</noscript>
<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NZ64K7');
</script>
<!-- 统计 end -->

</html>